// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth         : 600px;
// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize      : 13;
$primarySize      : 26px;
// ----------------------------------------------------------------------
// Line Height
// ----------------------------------------------------------------------
$primaryLineHeight: 24px;
// ----------------------------------------------------------------------
// Font Weight
// ----------------------------------------------------------------------
$bold             : 700;
$semiBold         : 600;
$normal           : 400;
$light            : 300;
// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$primaryColor     : #1f253d;
$whiteColor       : #fff;
$linkColor        : #2ba6cb;
$linkColorHover   : #2ba6cb;
$buttonColor      : #17c3c6;
$errorColor       : #c60f13;
// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$primaryFont      : Helvetica, Arial, sans-serif;
// ----------------------------------------------------------------------
// Grids
// ----------------------------------------------------------------------
$gridColumns      : 12;
// ----------------------------------------------------------------------
// Breakpoints
// ----------------------------------------------------------------------
$mobileMin        : 320px;
$mobileMax        : 767px;
$tabletMin        : 768px;
$tabletMax        : 1024px;
$desktopMin       : 1025px;